.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.container{
    margin: auto;
    width: 800px;
}
.input{
   
    width: 100%;
}
.title{
    text-align: center;
}
.searchBtn{
    margin: 5px;
}

.resultItem{
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
    width: 300px;
}
.item{

    font-size: 18px;
}

.gitLink{
    margin-left: 10px;
    float:right;
}

.resultContent{
    text-align: center;
}
.searchTypeBtn{

    display:inline;
    margin: 5px;
}
.active{

    border: 3px solid black
}
.pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }