.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.container{
    margin: auto;
    width: 800px;
}
.input{
   
    width: 100%;
}
.title{
    text-align: center;
}
.searchBtn{
    margin: 5px;
}

.resultItem{
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
    width: 300px;
}
.item{

    font-size: 20px;
}

.gitLink{
    margin-left: 10px;
    float:right;
}

.resultContent{
    text-align: center;
}