.resultItem{
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
  width: 300px;
}
.item{

  font-size: 18px;
}

.gitLink{
  margin-left: 10px;
  float:right;
}
