
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
     <div class="wrapper">
         <div class="title"><h1> Git user search </h1></div>
     <div class="search">

            <ng-container *ngIf="searchTypes">
              <div  class="searchTypeBtn" *ngFor="let item of searchTypes" >
               <input  type="button" [ngClass]="item.checked ? ' active' : ''"  value="{{item.label}}" (click)="setSearchType(item)">
              </div>
            </ng-container>

          </div>
    <div class="search">
    <input type="text" class="input"  [(ngModel)]="input">
    <input type="button" value="Search" (click)="getData()">
    </div>
     <div class="resultContent" >
       <ng-container *ngIf="searchData">

        <div class="resultItem"  *ngFor="let item of searchData.items ">
                <div class="item">
                    {{item['login']}}
               </div>
               <div class="gitLink">
                   <button (click)="openGitProfile(item)">Link to Github</button>
                </div>
            </div>
       </ng-container>
             <div class="pagination"  *ngFor="let page of pages ">
                <a (click)="setPage(page)" href="#">{{page}}</a>

        </div>

    </div>
</div>
</div>
</body>
</html>
