
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
     <div class="wrapper">
         <div class="title"><h1> Git user search </h1></div>
     <div class="search">
        <app-select (onChange)="setSearchTypes($event)"></app-select>
    </div>
    <div class="search">
    <input type="text" class="input" [(ngModel)]="input">
    <input type="button" value="Search" (click)="getData()"> 
    </div>  
     <div class="resultContent" > 
        <div class="resultItem"  *ngFor="let item of userProfile | paginate: { itemsPerPage: 10, currentPage: page }">
                <div class="item"> 
                    {{item.login}} 
               </div>
               <div class="gitLink">
                   <button>Link to Github</button> 
                </div>    
            </div> 
            <div *ngIf="totalItems>=10">
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
    </div>
    </div>
</div>
</body>
</html>